/* This is for the colored parts of the website, makes it more dynamic */

@-webkit-keyframes colorPulse {
	0% {color: black;}
	1% {color: red;}
	11% {color: orange;}
	21% {color: yellow;}
	31% {color: #494;}
	41% {color: #449;}
	51% {color: #949;}
	61% {color: #449;}
	71% {color: #494;}
	81% {color: yellow;}
	91% {color: orange;}
	100% {color: red;}
}

a.btn_dark {
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 10px;
	background-color: Transparent;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 18px;
	color: white;
  	position: relative;
  	outline: 0;
  	overflow:hidden;
  	z-index: 1;
  	cursor: pointer;
  	transition: 0.2s ease-in;
  	-o-transition: 0.2s ease-in;
  	-ms-transition: 0.2s ease-in;
  	-moz-transition: 0.2s ease-in;
  	-webkit-transition: 0.2s ease-in;
}

a.btn_dark:link {
	color: white;
}

a.btn_dark:hover {
	-webkit-animation: colorPulse 15s infinite alternate;
}

a.btn_dark:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  z-index: -1;
  -webkit-transition: right 0.2s ease-in;
}

a.btn_dark:hover:before {
  right: 0;
}
a.btn_dark:visited {
    color: white;
}

a.btn_dark:active {
    color: white;
}

a.btn_light {
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 10px;
	background-color: Transparent;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 18px;
	color: #000;
  	position: relative;
  	outline: 0;
  	overflow:hidden;
  	z-index: 1;
  	cursor: pointer;
  	transition:         0.2s ease-in;
  	-o-transition:      0.2s ease-in;
  	-ms-transition:     0.2s ease-in;
  	-moz-transition:    0.2s ease-in;
  	-webkit-transition: 0.2s ease-in;
}

a.btn_light:link {
    color: #000;
}

a.btn_light:hover {
    -webkit-animation: colorPulse 15s infinite alternate;
}

a.btn_light:before {
  content: "";
  position: absolute;
  background: #000;
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  z-index: -1;
  -webkit-transition: right 0.2s ease-in;
}

a.btn_light:hover:before {
  right: 0;
}

a.btn_light:visited {
    color: #000;
}

a.btn_light:active {
    color: #000;
}
