.contentl {
	color: #777;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 100px;
	text-align: center;
}

.contentd {
	color: #ddd;
	background-color: #282E34;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 100px;
	text-align: center;
}

.sub_content {
	background-color: Transparent;
	border: 2px solid #949;
	padding: 10px;
	text-align: center;
	width: 50%;
	margin-left: 24%;
	/*3EAB4F*/
}

.split_content_left {
    display: inline-block;
    background-color: Transparent;
    text-align: center;
    padding: 25px;
}

.split_content_right {
    display: inline-block;
    background-color: Transparent;
    text-align: center;
    border-right: 2px solid #282e34;
    padding: 10px;
}

.title_stylel {
	font-size:25px;
	color: 111;
	padding: 18px;
	text-align:center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px; lato=""; sans-serif;
}

.title_styled {
	font-size:25px;
	color: #fff;
	padding: 18px;
	text-align:center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px; lato=""; sans-serif;
}

.codeform_border {
	background:Transparent;
	overflow:auto;
	width:500px;
	max-height: 200px;
	border: 1px solid;
	-webkit-animation: colorPulse 15s infinite alternate;
	padding:.2em .6em;
}
